body {
  overflow: hidden;
}
.el-container {
  background-color: #E9EEF3;
  height: 100vh;
  overflow: hidden;
}

.page-content{
  background-image: url('../imgs/ocean-4346633_1920.jpg');
  background-size: cover; 
  background-size: 100% 100%; /* 高度为容器高度，宽度自动调整 */
}

.first{
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  --antd-wave-shadow-color: #4d85ff;
  --scroll-bar: 0;
  --swiper-theme-color: #007aff;
  --swiper-navigation-size: 44px;
  font-feature-settings: "tnum","tnum";
  color: rgba(0,0,0,.85);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  box-sizing: border-box;
  display: flex;
  flex: 1 1;
  flex-direction: column;
  font-family: Arial,PingFang SC,Hiragino Sans GB,STHeiti,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif,noto-fanyi!important;
  /* padding: 16px 20px 0; */
}

.second{
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  --antd-wave-shadow-color: #4d85ff;
  --scroll-bar: 0;
  --swiper-theme-color: #007aff;
  --swiper-navigation-size: 44px;
  font-feature-settings: "tnum","tnum";
  color: rgba(0,0,0,.85);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  font-family: Arial,PingFang SC,Hiragino Sans GB,STHeiti,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif,noto-fanyi!important;
  box-sizing: border-box;
  display: flex;
  flex: 1 1;
  flex-direction: column;
  height: calc(100vh - 95px);
}

.fav{
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  --antd-wave-shadow-color: #4d85ff;
  --scroll-bar: 0;
  --swiper-theme-color: #007aff;
  --swiper-navigation-size: 44px;
  font-feature-settings: "tnum","tnum";
  color: rgba(0,0,0,.85);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  font-family: Arial,PingFang SC,Hiragino Sans GB,STHeiti,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif,noto-fanyi!important;
  box-sizing: border-box;
  align-items: center;
  cursor: pointer;
  display: flex;
  position: relative;
  z-index: 3;
}

.options-select{
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  --antd-wave-shadow-color: #4d85ff;
  --scroll-bar: 0;
  --swiper-theme-color: #007aff;
  --swiper-navigation-size: 44px;
  font-feature-settings: "tnum","tnum";
  color: rgba(0,0,0,.85);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  font-family: Arial,PingFang SC,Hiragino Sans GB,STHeiti,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif,noto-fanyi!important;
  box-sizing: border-box;
  align-items: center;
  /* background: hsla(0,0%,100%,.9); */
  border-radius: 8px;
  display: flex;
  margin-right: 16px;
  padding: 4px 4px 13px 0;
  position: relative;
}
.model{
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  --antd-wave-shadow-color: #4d85ff;
  --scroll-bar: 0;
  --swiper-theme-color: #007aff;
  --swiper-navigation-size: 44px;
  font-feature-settings: "tnum","tnum";
  color: rgba(0,0,0,.85);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  font-family: Arial,PingFang SC,Hiragino Sans GB,STHeiti,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif,noto-fanyi!important;
  box-sizing: border-box;
  align-items: center;
  background: hsla(0,0%,100%,.5);
  border-radius: 8px;
  display: flex;
  padding: 4px;
  position: relative;
}

.model-first{
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  --antd-wave-shadow-color: #4d85ff;
  --scroll-bar: 0;
  --swiper-theme-color: #007aff;
  --swiper-navigation-size: 44px;
  font-feature-settings: "tnum","tnum";
  color: rgba(0,0,0,.85);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  font-family: Arial,PingFang SC,Hiragino Sans GB,STHeiti,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif,noto-fanyi!important;
  box-sizing: border-box;
  position: relative;
}
.model-second{
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  --antd-wave-shadow-color: #4d85ff;
  --scroll-bar: 0;
  --swiper-theme-color: #007aff;
  --swiper-navigation-size: 44px;
  font-feature-settings: "tnum","tnum";
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  font-family: Arial,PingFang SC,Hiragino Sans GB,STHeiti,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif,noto-fanyi!important;
  box-sizing: border-box;
  color: #333;
  position: relative;
  white-space: nowrap;
  z-index: 2;
}
.model-content{
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  --antd-wave-shadow-color: #4d85ff;
  --scroll-bar: 0;
  --swiper-theme-color: #007aff;
  --swiper-navigation-size: 44px;
  font-feature-settings: "tnum","tnum";
  font-variant: tabular-nums;
  line-height: 1.5715;
  font-family: Arial,PingFang SC,Hiragino Sans GB,STHeiti,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif,noto-fanyi!important;
  white-space: nowrap;
  box-sizing: border-box;
  align-items: center;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  height: 26px;
  padding: 0 10px;
  background: linear-gradient(265.93deg,rgba(111,156,255,.38) 5.89%,rgba(115,129,255,.4) 53.76%,rgba(105,152,255,.4) 117.44%),linear-gradient(100.67deg,rgba(125,165,255,.95) .67%,#6978ff 64.63%);
  border-radius: 8px;
  color: #fff!important;
}
.model-span{
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  --antd-wave-shadow-color: #4d85ff;
  --scroll-bar: 0;
  --swiper-theme-color: #007aff;
  --swiper-navigation-size: 44px;
  font-feature-settings: "tnum","tnum";
  font-variant: tabular-nums;
  line-height: 1.5715;
  font-family: Arial,PingFang SC,Hiragino Sans GB,STHeiti,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif,noto-fanyi!important;
  white-space: nowrap;
  cursor: pointer;
  font-size: 14px;
  color: #fff!important;
  box-sizing: border-box;
  background: url(https://fanyi-cdn.cdn.bcebos.com/static/cat/asset/icon-default.f70d4f93.png) 50% no-repeat;
  background-size: 100%;
  height: 10px;
  margin-right: 4px;
  width: 10px;
  background-image: url(https://fanyi-cdn.cdn.bcebos.com/static/cat/asset/icon-active.f3c73772.png);
}

.ai{
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  --antd-wave-shadow-color: #4d85ff;
  --scroll-bar: 0;
  --swiper-theme-color: #007aff;
  --swiper-navigation-size: 44px;
  font-feature-settings: "tnum","tnum";
  color: rgba(0,0,0,.85);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  font-family: Arial,PingFang SC,Hiragino Sans GB,STHeiti,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif,noto-fanyi!important;
  box-sizing: border-box;
  margin-left: 6px;
  position: relative;
  height: 34px;
}

.ai-first{
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  --antd-wave-shadow-color: #4d85ff;
  --scroll-bar: 0;
  --swiper-theme-color: #007aff;
  --swiper-navigation-size: 44px;
  font-feature-settings: "tnum","tnum";
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  font-family: Arial,PingFang SC,Hiragino Sans GB,STHeiti,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif,noto-fanyi!important;
  box-sizing: border-box;
  color: #333;
  position: relative;
  white-space: nowrap;
  z-index: 2;
}

.ai-content{
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  --antd-wave-shadow-color: #4d85ff;
  --scroll-bar: 0;
  --swiper-theme-color: #007aff;
  --swiper-navigation-size: 44px;
  font-feature-settings: "tnum","tnum";
  font-variant: tabular-nums;
  line-height: 1.5715;
  font-family: Arial,PingFang SC,Hiragino Sans GB,STHeiti,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif,noto-fanyi!important;
  color: #333;
  white-space: nowrap;
  box-sizing: border-box;
  align-items: center;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  height: 26px;
  margin-top: 5px;
  padding: 0 10px;
}
.ai-span{
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  --antd-wave-shadow-color: #4d85ff;
  --scroll-bar: 0;
  --swiper-theme-color: #007aff;
  --swiper-navigation-size: 44px;
  font-feature-settings: "tnum","tnum";
  font-variant: tabular-nums;
  line-height: 1.5715;
  font-family: Arial,PingFang SC,Hiragino Sans GB,STHeiti,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif,noto-fanyi!important;
  color: #333;
  white-space: nowrap;
  cursor: pointer;
  font-size: 14px;
  box-sizing: border-box;
  background: url(https://fanyi-cdn.cdn.bcebos.com/static/cat/asset/icon-default.4a033c55.png) 50% no-repeat;
  background-size: 100%;
  height: 12px;
  margin-right: 6px;
  width: 12px;
}

.expert{
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  --antd-wave-shadow-color: #4d85ff;
  --scroll-bar: 0;
  --swiper-theme-color: #007aff;
  --swiper-navigation-size: 44px;
  font-feature-settings: "tnum","tnum";
  color: rgba(0,0,0,.85);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  font-family: Arial,PingFang SC,Hiragino Sans GB,STHeiti,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif,noto-fanyi!important;
  box-sizing: border-box;
  align-items: center;
  background: hsla(0,0%,100%,.5);
  border-radius: 8px;
  display: flex;
  padding: 4px;
  position: relative;
  margin-left: 12px;
}

.expert-content{
      -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    --antd-wave-shadow-color: #4d85ff;
    --scroll-bar: 0;
    --swiper-theme-color: #007aff;
    --swiper-navigation-size: 44px;
    font-feature-settings: "tnum","tnum";
    font-variant: tabular-nums;
    line-height: 1.5715;
    font-family: Arial,PingFang SC,Hiragino Sans GB,STHeiti,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif,noto-fanyi!important;
    color: #333;
    white-space: nowrap;
    box-sizing: border-box;
    align-items: center;
    cursor: pointer;
    display: flex;
    font-size: 14px;
    padding: 0 10px;
    height: 34px;
}
.expert-span{
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  --antd-wave-shadow-color: #4d85ff;
  --scroll-bar: 0;
  --swiper-theme-color: #007aff;
  --swiper-navigation-size: 44px;
  font-feature-settings: "tnum","tnum";
  font-variant: tabular-nums;
  line-height: 1.5715;
  font-family: Arial,PingFang SC,Hiragino Sans GB,STHeiti,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif,noto-fanyi!important;
  color: #333;
  white-space: nowrap;
  cursor: pointer;
  font-size: 14px;
  box-sizing: border-box;
  background: url(https://fanyi-cdn.cdn.bcebos.com/static/cat/asset/icon-default.4a033c55.png) 50% no-repeat;
  background-size: 100%;
  height: 12px;
  margin-right: 6px;
  background-image: url(https://fanyi-cdn.cdn.bcebos.com/static/cat/asset/icon-enhance-default.40808218.png);
  width: 17px;
}

.content{
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  --antd-wave-shadow-color: #4d85ff;
  --scroll-bar: 0;
  --swiper-theme-color: #007aff;
  --swiper-navigation-size: 44px;
  font-feature-settings: "tnum","tnum";
  color: rgba(0,0,0,.85);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  font-family: Arial,PingFang SC,Hiragino Sans GB,STHeiti,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif,noto-fanyi!important;
  box-sizing: border-box;
  background: #fff;
  border-radius: 18px;
  display: flex;
  flex: 1 1;
  flex-direction: column;
  height: calc(100% - 106px);
  opacity: 0.7;
}

.header-select{
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  --antd-wave-shadow-color: #4d85ff;
  --scroll-bar: 0;
  --swiper-theme-color: #007aff;
  --swiper-navigation-size: 44px;
  font-feature-settings: "tnum","tnum";
  color: rgba(0,0,0,.85);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  font-family: Arial,PingFang SC,Hiragino Sans GB,STHeiti,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif,noto-fanyi!important;
  box-sizing: border-box;
  align-items: center;
  display: flex;
  flex: 1 1;
  position: relative;
}

.content-header{
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  --antd-wave-shadow-color: #4d85ff;
  --scroll-bar: 0;
  --swiper-theme-color: #007aff;
  --swiper-navigation-size: 44px;
  font-feature-settings: "tnum","tnum";
  color: rgba(0,0,0,.85);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  font-family: Arial,PingFang SC,Hiragino Sans GB,STHeiti,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif,noto-fanyi!important;
  box-sizing: border-box;
  align-items: center;
  display: flex;
  height: 50px;
  justify-content: space-between;
  padding: 0 15px 0 20px;
  position: relative;
  width: 100%;
}

.content-header-text{
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  --antd-wave-shadow-color: #4d85ff;
  --scroll-bar: 0;
  --swiper-theme-color: #007aff;
  --swiper-navigation-size: 44px;
  font-feature-settings: "tnum","tnum";
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  font-family: Arial,PingFang SC,Hiragino Sans GB,STHeiti,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif,noto-fanyi!important;
  box-sizing: border-box;
  color: #333;
}

.content-header-text-text{
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  --antd-wave-shadow-color: #4d85ff;
  --scroll-bar: 0;
  --swiper-theme-color: #007aff;
  --swiper-navigation-size: 44px;
  font-feature-settings: "tnum","tnum";
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  font-family: Arial,PingFang SC,Hiragino Sans GB,STHeiti,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif,noto-fanyi!important;
  box-sizing: border-box;
  color: #333;
  flex:1
}

.content-header-text-type{
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  --antd-wave-shadow-color: #4d85ff;
  --scroll-bar: 0;
  --swiper-theme-color: #007aff;
  --swiper-navigation-size: 44px;
  font-feature-settings: "tnum","tnum";
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  font-family: Arial,PingFang SC,Hiragino Sans GB,STHeiti,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif,noto-fanyi!important;
  box-sizing: border-box;
  color: #4d85ff;
  margin: 0 4px;
}

.content-header-icon{
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  --antd-wave-shadow-color: #4d85ff;
  --scroll-bar: 0;
  --swiper-theme-color: #007aff;
  --swiper-navigation-size: 44px;
  font-feature-settings: "tnum","tnum";
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  font-family: Arial,PingFang SC,Hiragino Sans GB,STHeiti,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif,noto-fanyi!important;
  box-sizing: border-box;
  color: #333;
  flex:1
}

.content-header-icon-span{
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  --antd-wave-shadow-color: #4d85ff;
  --scroll-bar: 0;
  --swiper-theme-color: #007aff;
  --swiper-navigation-size: 44px;
  font-feature-settings: "tnum","tnum";
  color: rgba(0,0,0,.85);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  font-family: Arial,PingFang SC,Hiragino Sans GB,STHeiti,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif,noto-fanyi!important;
  white-space: nowrap;
  box-sizing: border-box;
  align-items: center;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 6px 10px 0 rgba(169,173,204,.2);
  cursor: pointer;
  display: flex;
  height: 24px;
  justify-content: center;
  margin-left: 10px;
  width: 24px;
  float: right;
}

.divider{
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  --antd-wave-shadow-color: #4d85ff;
  --scroll-bar: 0;
  --swiper-theme-color: #007aff;
  --swiper-navigation-size: 44px;
  font-feature-settings: "tnum","tnum";
  color: rgba(0,0,0,.85);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  font-family: Arial,PingFang SC,Hiragino Sans GB,STHeiti,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif,noto-fanyi!important;
  box-sizing: border-box;
  background: rgba(98,107,181,.15);
  height: 1px;
  width: 100%;
}

.uploader-icons{
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  --antd-wave-shadow-color: #4d85ff;
  --scroll-bar: 0;
  --swiper-theme-color: #007aff;
  --swiper-navigation-size: 44px;
  font-family: Arial,PingFang SC,Hiragino Sans GB,STHeiti,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif,noto-fanyi!important;
  cursor: pointer;
  font-feature-settings: "tnum","tnum";
  color: rgba(0,0,0,.85);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  text-align: center;
  box-sizing: border-box;
  margin-bottom: 4px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.uploader-icon{
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  --antd-wave-shadow-color: #4d85ff;
  --scroll-bar: 0;
  --swiper-theme-color: #007aff;
  --swiper-navigation-size: 44px;
  font-family: Arial,PingFang SC,Hiragino Sans GB,STHeiti,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif,noto-fanyi!important;
  cursor: pointer;
  font-feature-settings: "tnum","tnum";
  color: rgba(0,0,0,.85);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  text-align: center;
  box-sizing: border-box;
  align-items: center;
  display: flex;
  flex-direction: column;
  /* height: 45px; */
  justify-content: space-between;
  position: relative;
  margin-right: 12px;
}

.uploader-icon-images{
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  --antd-wave-shadow-color: #4d85ff;
  --scroll-bar: 0;
  --swiper-theme-color: #007aff;
  --swiper-navigation-size: 44px;
  font-family: Arial,PingFang SC,Hiragino Sans GB,STHeiti,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif,noto-fanyi!important;
  cursor: pointer;
  font-feature-settings: "tnum","tnum";
  color: rgba(0,0,0,.85);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  text-align: center;
  box-sizing: border-box;
  align-items: center;
  display: flex;
  height: 25px;
}

.el-header,
.el-footer {
  background-color: #B3C0D1;
  color: #333;
  text-align: center;
  display: flex;
  align-items: center;
}
.el-main {
  background-color: #E9EEF3;
  color: #333;
  position: relative;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: auto;
}
.el-main .top {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.el-main .top .l {
  width: 100%;
  display: flex;
  align-items: center;
}
.el-main .top .l .el-select {
  width: 25%;
}
.el-main .top .l .tit {
  color: grey;
}
.el-main .top .r {
  display: flex;
  align-items: center;
}
.el-main .top .r span {
  margin-right: 15px;
  font-size: 25px;
}
.el-main .text {
  display: flex;
  justify-content: space-between;
  margin-top: 3vh;
}
.el-main .text .textFrom,
.el-main .text .textTo {
  width: 47%;
}
.el-main .text .textFrom .el-textarea textarea,
.el-main .text .textTo .el-textarea textarea {
  height: 25vh;
}
.el-main .text .textFrom i,
.el-main .text .textTo i {
  float: left;
  margin: 1vh;
}
.el-main .history {
  width: 47%!important;
  float: left;
  margin-top: 1vh;
}
.el-main .history .hisTop {
  display: flex;
  justify-content: space-between;
  margin: 1vh 0;
}
.el-main .history .buttonD {
  border: none;
  background: none;
}
.el-main .history .buttonD button {
  border: 0px;
}
.el-main .favorites {
  overflow: hidden;
  overflow-y: hidden;
  width: 47%!important;
  float: right;
  margin-top: 1vh;
}
.el-main .favorites .hisTop {
  display: flex;
  justify-content: space-between;
  margin: 1vh 0;
}
.el-main .favorites .buttonD {
  border: none;
  background: none;
}
.el-main .favorites .buttonD button {
  border: 0px;
}
body > .el-container {
  margin-bottom: 40px;
}
.el-container:nth-child(5) .el-aside,
.el-container:nth-child(6) .el-aside {
  line-height: 260px;
}
.el-container:nth-child(7) .el-aside {
  line-height: 320px;
}
@media screen and (max-width: 1500px) {
  .el-main {
    width: 100%;
  }
}
@media screen and (max-width: 750px) {
  .el-header,
  .el-footer {
    background-color: #B3C0D1;
    color: #333;
    text-align: left;
    display: flex;
    justify-content: space-between;
  }
  .el-header i,
  .el-footer i {
    margin-left: 10px;
  }
  .titleIcon {
    color: gray;
  }
  .el-main {
    background-color: #E9EEF3;
    color: #333;
    text-align: center;
    position: relative;
    width: 100%;
    margin: auto!important;
  }
  .el-main .top {
    margin-top: 3vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .el-main .top .l {
    z-index: 999;
    width: 100%;
  }
  .el-main .top .l .el-select {
    width: 100%;
  }
  .el-main .top .l .el-button {
    margin-left: 10px;
    float: right;
  }
  .el-main .top .r {
    float: right;
    width: 100%;
    margin-top: -120px;
    display: none;
  }
  .el-main .top .r i {
    color: gray;
  }
  .el-main .text {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 3vh;
  }
  .el-main .text .textFrom,
  .el-main .text .textTo {
    width: 100%;
  }
  .el-main .text .textFrom .el-textarea textarea,
  .el-main .text .textTo .el-textarea textarea {
    height: 100px;
  }
  .el-main .text .textFrom i,
  .el-main .text .textTo i {
    float: left;
    margin: 1vh;
  }
  .el-main .history {
    width: 100%!important;
    margin-top: 1vh;
  }
  .el-main .history .hisTop {
    display: flex;
    justify-content: space-between;
    margin: 1vh 0;
  }
  .el-main .history .buttonD {
    border: none;
    background: none;
  }
  .el-main .favorites {
    width: 100%!important;
  }
}
.el-table td,
.el-table th.is-leaf {
  border-bottom: 1px solid rgba(0, 0, 0, 0) !important;
}

.uploader-example {
  width: 100%;
  padding: 10px;
  margin: 40px auto 40px 40px;
  font-size: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .4);
}
.uploader-example .uploader-btn {
  margin-right: 4px;
}
.uploader-example .uploader-list {
  max-height: 440px;
  overflow: auto;
  overflow-x: hidden;
  overflow-y: auto;
}

.pdf-container {
  width: 100%;
  height: 75vh;
  overflow-y: scroll;
  /* border: 1px solid #000; */
  position: relative;
  display: inline-block;
  vertical-align: top;
}

.pdf-page {
  display: flex;
  justify-content: center;
}
canvas {
  border: 1px solid #ccc;
}

.footer{
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  --antd-wave-shadow-color: #4d85ff;
  --scroll-bar: 0;
  --swiper-theme-color: #007aff;
  --swiper-navigation-size: 44px;
  font-feature-settings: "tnum","tnum";
  font-variant: tabular-nums;
  line-height: 1.5715;
  font-family: Arial,PingFang SC,Hiragino Sans GB,STHeiti,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif,noto-fanyi!important;
  box-sizing: border-box;
  color: black;
  font-size: 12px;
  height: 40px;
  align-items: center;
  display: flex;
  padding-top: 20px;
}

.copyright{
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  --antd-wave-shadow-color: #4d85ff;
  --scroll-bar: 0;
  --swiper-theme-color: #007aff;
  --swiper-navigation-size: 44px;
  font-feature-settings: "tnum","tnum";
  font-variant: tabular-nums;
  line-height: 1.5715;
  font-family: Arial,PingFang SC,Hiragino Sans GB,STHeiti,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif,noto-fanyi!important;
  color: #8e91a9;
  font-size: 12px;
  box-sizing: border-box;
  align-items: center;
  display: flex;
  margin-left: 6px;
}
.focus{
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  --antd-wave-shadow-color: #4d85ff;
  --scroll-bar: 0;
  --swiper-theme-color: #007aff;
  --swiper-navigation-size: 44px;
  font-feature-settings: "tnum","tnum";
  font-variant: tabular-nums;
  line-height: 1.5715;
  font-family: Arial,PingFang SC,Hiragino Sans GB,STHeiti,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif,noto-fanyi!important;
  color: #8e91a9;
  font-size: 12px;
  box-sizing: border-box;
  align-items: center;
  display: flex;
  margin-left: 20px;
}
.version{
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  --antd-wave-shadow-color: #4d85ff;
  --scroll-bar: 0;
  --swiper-theme-color: #007aff;
  --swiper-navigation-size: 44px;
  font-feature-settings: "tnum","tnum";
  font-variant: tabular-nums;
  line-height: 1.5715;
  font-family: Arial,PingFang SC,Hiragino Sans GB,STHeiti,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif,noto-fanyi!important;
  color: #8e91a9;
  font-size: 12px;
  box-sizing: border-box;
  align-items: center;
  display: flex;
  flex: 1 1;
  justify-content: flex-end;
}

.wb{
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  --antd-wave-shadow-color: #4d85ff;
  --scroll-bar: 0;
  --swiper-theme-color: #007aff;
  --swiper-navigation-size: 44px;
  font-feature-settings: "tnum","tnum";
  font-variant: tabular-nums;
  font-family: Arial,PingFang SC,Hiragino Sans GB,STHeiti,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif,noto-fanyi!important;
  font-size: 12px;
  box-sizing: border-box;
  color: #4d85ff;
  outline: none;
  text-decoration: none;
  transition: color .3s;
  touch-action: manipulation;
  cursor: pointer;
  display: inline-block;
  height: 20px;
  line-height: 33px;
  width: 22px;
  background: url(https://fanyi-cdn.cdn.bcebos.com/static/cat/asset/weibo-icon.8a29f610.png) 50% no-repeat;
  background-size: 16px 13px;
  margin: 0;
}

.wx{
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  --antd-wave-shadow-color: #4d85ff;
  --scroll-bar: 0;
  --swiper-theme-color: #007aff;
  --swiper-navigation-size: 44px;
  font-feature-settings: "tnum","tnum";
  font-variant: tabular-nums;
  font-family: Arial,PingFang SC,Hiragino Sans GB,STHeiti,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif,noto-fanyi!important;
  font-size: 12px;
  box-sizing: border-box;
  color: #4d85ff;
  outline: none;
  text-decoration: none;
  transition: color .3s;
  touch-action: manipulation;
  cursor: pointer;
  display: inline-block;
  height: 20px;
  line-height: 33px;
  margin-left: 10px;
  width: 22px;
  background: url(https://fanyi-cdn.cdn.bcebos.com/static/cat/asset/wechat-icon.2779c069.png) 50% no-repeat;
  background-size: 18px 14px;
}

a{
  color: black;
  padding-left: 10px;
  padding-right: 10px;
}

.uploader-form{
  height:180px;
  margin-left:50px;
  margin-bottom:20px;
  font-family: Arial, PingFang SC, Hiragino Sans GB, STHeiti, Microsoft YaHei, WenQuanYi Micro Hei, sans-serif, noto-fanyi !important;
  font-size: 16px; /* 设置字体大小 */
}

.options-setting{
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  --antd-wave-shadow-color: #4d85ff;
  --scroll-bar: 0;
  --swiper-theme-color: #007aff;
  --swiper-navigation-size: 44px;
  --annotation-unfocused-field-background: url("data:image/svg+xml;charset=UTF-8,<svg width='1px' height='1px' xmlns='http://www.w3.org/2000/svg'><rect width='100%' height='100%' style='fill:rgba(0, 54, 255, 0.13);'/></svg>");
  --xfa-unfocused-field-background: url("data:image/svg+xml;charset=UTF-8,<svg width='1px' height='1px' xmlns='http://www.w3.org/2000/svg'><rect width='100%' height='100%' style='fill:rgba(0, 54, 255, 0.13);'/></svg>");
  --focus-outline: solid 2px blue;
  --hover-outline: dashed 2px blue;
  --freetext-line-height: 1.35;
  --freetext-padding: 2px;
  --editorInk-editing-cursor: pointer;
  --viewer-container-height: 0;
  --pdfViewer-padding-bottom: 0;
  --page-margin: 1px auto -8px;
  --page-border: 9px solid transparent;
  --page-border-image: url(images/shadow.png) 9 9 repeat;
  --spreadHorizontalWrapped-margin-LR: -3.5px;
  --scale-factor: 1.2094666666666667;
  font-feature-settings: "tnum","tnum";
  color: rgba(0,0,0,.85);
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
  font-size: 14px;
  font-variant: tabular-nums;
  box-sizing: border-box;
  background-color: #f9fafa;
  height: 44px;
  line-height: 44px;
  position: relative;
  border-radius: 10px;
}

.options-first{
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  --antd-wave-shadow-color: #4d85ff;
  --scroll-bar: 0;
  --swiper-theme-color: #007aff;
  --swiper-navigation-size: 44px;
  --annotation-unfocused-field-background: url("data:image/svg+xml;charset=UTF-8,<svg width='1px' height='1px' xmlns='http://www.w3.org/2000/svg'><rect width='100%' height='100%' style='fill:rgba(0, 54, 255, 0.13);'/></svg>");
  --xfa-unfocused-field-background: url("data:image/svg+xml;charset=UTF-8,<svg width='1px' height='1px' xmlns='http://www.w3.org/2000/svg'><rect width='100%' height='100%' style='fill:rgba(0, 54, 255, 0.13);'/></svg>");
  --focus-outline: solid 2px blue;
  --hover-outline: dashed 2px blue;
  --freetext-line-height: 1.35;
  --freetext-padding: 2px;
  --editorInk-editing-cursor: pointer;
  --viewer-container-height: 0;
  --pdfViewer-padding-bottom: 0;
  --page-margin: 1px auto -8px;
  --page-border: 9px solid transparent;
  --page-border-image: url(images/shadow.png) 9 9 repeat;
  --spreadHorizontalWrapped-margin-LR: -3.5px;
  --scale-factor: 1.2094666666666667;
  font-feature-settings: "tnum","tnum";
  color: rgba(0,0,0,.85);
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 44px;
  box-sizing: border-box;
  display: flex;
  left: 0;
  position: absolute;
  top: 0;
}

.options-second{
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  --antd-wave-shadow-color: #4d85ff;
  --scroll-bar: 0;
  --swiper-theme-color: #007aff;
  --swiper-navigation-size: 44px;
  --annotation-unfocused-field-background: url("data:image/svg+xml;charset=UTF-8,<svg width='1px' height='1px' xmlns='http://www.w3.org/2000/svg'><rect width='100%' height='100%' style='fill:rgba(0, 54, 255, 0.13);'/></svg>");
  --xfa-unfocused-field-background: url("data:image/svg+xml;charset=UTF-8,<svg width='1px' height='1px' xmlns='http://www.w3.org/2000/svg'><rect width='100%' height='100%' style='fill:rgba(0, 54, 255, 0.13);'/></svg>");
  --focus-outline: solid 2px blue;
  --hover-outline: dashed 2px blue;
  --freetext-line-height: 1.35;
  --freetext-padding: 2px;
  --editorInk-editing-cursor: pointer;
  --viewer-container-height: 0;
  --pdfViewer-padding-bottom: 0;
  --page-margin: 1px auto -8px;
  --page-border: 9px solid transparent;
  --page-border-image: url(images/shadow.png) 9 9 repeat;
  --spreadHorizontalWrapped-margin-LR: -3.5px;
  --scale-factor: 1.2094666666666667;
  font-feature-settings: "tnum","tnum";
  color: rgba(0,0,0,.85);
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 44px;
  box-sizing: border-box;
  display: flex;
  position: absolute;
  right: 20px;
  top: 0;
}

.options-first-content{
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  --antd-wave-shadow-color: #4d85ff;
  --scroll-bar: 0;
  --swiper-theme-color: #007aff;
  --swiper-navigation-size: 44px;
  --annotation-unfocused-field-background: url("data:image/svg+xml;charset=UTF-8,<svg width='1px' height='1px' xmlns='http://www.w3.org/2000/svg'><rect width='100%' height='100%' style='fill:rgba(0, 54, 255, 0.13);'/></svg>");
  --xfa-unfocused-field-background: url("data:image/svg+xml;charset=UTF-8,<svg width='1px' height='1px' xmlns='http://www.w3.org/2000/svg'><rect width='100%' height='100%' style='fill:rgba(0, 54, 255, 0.13);'/></svg>");
  --focus-outline: solid 2px blue;
  --hover-outline: dashed 2px blue;
  --freetext-line-height: 1.35;
  --freetext-padding: 2px;
  --editorInk-editing-cursor: pointer;
  --viewer-container-height: 0;
  --pdfViewer-padding-bottom: 0;
  --page-margin: 1px auto -8px;
  --page-border: 9px solid transparent;
  --page-border-image: url(images/shadow.png) 9 9 repeat;
  --spreadHorizontalWrapped-margin-LR: -3.5px;
  --scale-factor: 1.2094666666666667;
  font-feature-settings: "tnum","tnum";
  color: rgba(0,0,0,.85);
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 44px;
  box-sizing: border-box;
  display: flex;
  height: 100%;
  justify-content: center;
  margin-left: 50px;
}

.full{
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  --antd-wave-shadow-color: #4d85ff;
  --scroll-bar: 0;
  --swiper-theme-color: #007aff;
  --swiper-navigation-size: 44px;
  --annotation-unfocused-field-background: url("data:image/svg+xml;charset=UTF-8,<svg width='1px' height='1px' xmlns='http://www.w3.org/2000/svg'><rect width='100%' height='100%' style='fill:rgba(0, 54, 255, 0.13);'/></svg>");
  --xfa-unfocused-field-background: url("data:image/svg+xml;charset=UTF-8,<svg width='1px' height='1px' xmlns='http://www.w3.org/2000/svg'><rect width='100%' height='100%' style='fill:rgba(0, 54, 255, 0.13);'/></svg>");
  --focus-outline: solid 2px blue;
  --hover-outline: dashed 2px blue;
  --freetext-line-height: 1.35;
  --freetext-padding: 2px;
  --editorInk-editing-cursor: pointer;
  --viewer-container-height: 0;
  --pdfViewer-padding-bottom: 0;
  --page-margin: 1px auto -8px;
  --page-border: 9px solid transparent;
  --page-border-image: url(images/shadow.png) 9 9 repeat;
  --spreadHorizontalWrapped-margin-LR: -3.5px;
  --scale-factor: 1.2094666666666667;
  font-feature-settings: "tnum","tnum";
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
  font-variant: tabular-nums;
  line-height: 44px;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  margin-right: 30px;
  position: relative;
  transition: all .3s;
  user-select: none;
  color: #8288b6;
}

.se{
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  --antd-wave-shadow-color: #4d85ff;
  --scroll-bar: 0;
  --swiper-theme-color: #007aff;
  --swiper-navigation-size: 44px;
  --annotation-unfocused-field-background: url("data:image/svg+xml;charset=UTF-8,<svg width='1px' height='1px' xmlns='http://www.w3.org/2000/svg'><rect width='100%' height='100%' style='fill:rgba(0, 54, 255, 0.13);'/></svg>");
  --xfa-unfocused-field-background: url("data:image/svg+xml;charset=UTF-8,<svg width='1px' height='1px' xmlns='http://www.w3.org/2000/svg'><rect width='100%' height='100%' style='fill:rgba(0, 54, 255, 0.13);'/></svg>");
  --focus-outline: solid 2px blue;
  --hover-outline: dashed 2px blue;
  --freetext-line-height: 1.35;
  --freetext-padding: 2px;
  --editorInk-editing-cursor: pointer;
  --viewer-container-height: 0;
  --pdfViewer-padding-bottom: 0;
  --page-margin: 1px auto -8px;
  --page-border: 9px solid transparent;
  --page-border-image: url(images/shadow.png) 9 9 repeat;
  --spreadHorizontalWrapped-margin-LR: -3.5px;
  --scale-factor: 1.2094666666666667;
  font-feature-settings: "tnum","tnum";
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
  font-variant: tabular-nums;
  line-height: 44px;
  box-sizing: border-box;
  color: #999;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  position: relative;
  transition: all .3s;
  user-select: none;
  margin-right: 0;
}

.da{
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  --antd-wave-shadow-color: #4d85ff;
  --scroll-bar: 0;
  --swiper-theme-color: #007aff;
  --swiper-navigation-size: 44px;
  --annotation-unfocused-field-background: url("data:image/svg+xml;charset=UTF-8,<svg width='1px' height='1px' xmlns='http://www.w3.org/2000/svg'><rect width='100%' height='100%' style='fill:rgba(0, 54, 255, 0.13);'/></svg>");
  --xfa-unfocused-field-background: url("data:image/svg+xml;charset=UTF-8,<svg width='1px' height='1px' xmlns='http://www.w3.org/2000/svg'><rect width='100%' height='100%' style='fill:rgba(0, 54, 255, 0.13);'/></svg>");
  --focus-outline: solid 2px blue;
  --hover-outline: dashed 2px blue;
  --freetext-line-height: 1.35;
  --freetext-padding: 2px;
  --editorInk-editing-cursor: pointer;
  --viewer-container-height: 0;
  --pdfViewer-padding-bottom: 0;
  --page-margin: 1px auto -8px;
  --page-border: 9px solid transparent;
  --page-border-image: url(images/shadow.png) 9 9 repeat;
  --spreadHorizontalWrapped-margin-LR: -3.5px;
  --scale-factor: 1.2094666666666667;
  font-feature-settings: "tnum","tnum";
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
  font-variant: tabular-nums;
  box-sizing: border-box;
  background-repeat: no-repeat;
  border-radius: 8px;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  line-height: 24px;
  margin-top: 10px;
  padding: 0 8px 0 28px;
  vertical-align: top;
  background-position: 5px 0!important;
  margin-bottom: 10px;
  user-select: none;
  color: #626bb5;
  background-image: url("https://fanyi-cdn.cdn.bcebos.com/static/cat/asset/enlarge.2413ea4d.svg");
  margin-left: -10px;
}

.xiao{
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  --antd-wave-shadow-color: #4d85ff;
  --scroll-bar: 0;
  --swiper-theme-color: #007aff;
  --swiper-navigation-size: 44px;
  --annotation-unfocused-field-background: url("data:image/svg+xml;charset=UTF-8,<svg width='1px' height='1px' xmlns='http://www.w3.org/2000/svg'><rect width='100%' height='100%' style='fill:rgba(0, 54, 255, 0.13);'/></svg>");
  --xfa-unfocused-field-background: url("data:image/svg+xml;charset=UTF-8,<svg width='1px' height='1px' xmlns='http://www.w3.org/2000/svg'><rect width='100%' height='100%' style='fill:rgba(0, 54, 255, 0.13);'/></svg>");
  --focus-outline: solid 2px blue;
  --hover-outline: dashed 2px blue;
  --freetext-line-height: 1.35;
  --freetext-padding: 2px;
  --editorInk-editing-cursor: pointer;
  --viewer-container-height: 0;
  --pdfViewer-padding-bottom: 0;
  --page-margin: 1px auto -8px;
  --page-border: 9px solid transparent;
  --page-border-image: url(images/shadow.png) 9 9 repeat;
  --spreadHorizontalWrapped-margin-LR: -3.5px;
  --scale-factor: 1.2094666666666667;
  font-feature-settings: "tnum","tnum";
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
  font-variant: tabular-nums;
  box-sizing: border-box;
  background-repeat: no-repeat;
  border-radius: 8px;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  line-height: 24px;
  margin-top: 10px;
  padding: 0 8px 0 28px;
  vertical-align: top;
  background-position: 5px 0!important;
  margin-bottom: 10px;
  user-select: none;
  color: #626bb5;
  background-image: url("https://fanyi-cdn.cdn.bcebos.com/static/cat/asset/narrow.ca37a586.svg");
  margin-right: -8px;
}

.yiwen{
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  --antd-wave-shadow-color: #4d85ff;
  --scroll-bar: 0;
  --swiper-theme-color: #007aff;
  --swiper-navigation-size: 44px;
  --annotation-unfocused-field-background: url("data:image/svg+xml;charset=UTF-8,<svg width='1px' height='1px' xmlns='http://www.w3.org/2000/svg'><rect width='100%' height='100%' style='fill:rgba(0, 54, 255, 0.13);'/></svg>");
  --xfa-unfocused-field-background: url("data:image/svg+xml;charset=UTF-8,<svg width='1px' height='1px' xmlns='http://www.w3.org/2000/svg'><rect width='100%' height='100%' style='fill:rgba(0, 54, 255, 0.13);'/></svg>");
  --focus-outline: solid 2px blue;
  --hover-outline: dashed 2px blue;
  --freetext-line-height: 1.35;
  --freetext-padding: 2px;
  --editorInk-editing-cursor: pointer;
  --viewer-container-height: 0;
  --pdfViewer-padding-bottom: 0;
  --page-margin: 1px auto -8px;
  --page-border: 9px solid transparent;
  --page-border-image: url(images/shadow.png) 9 9 repeat;
  --spreadHorizontalWrapped-margin-LR: -3.5px;
  --scale-factor: 1.2094666666666667;
  font-feature-settings: "tnum","tnum";
  color: rgba(0,0,0,.85);
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  box-sizing: border-box;
  height: 48px;
  position: relative;
  z-index: 2;
}

.yiwen-span{
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  --antd-wave-shadow-color: #4d85ff;
  --scroll-bar: 0;
  --swiper-theme-color: #007aff;
  --swiper-navigation-size: 44px;
  --annotation-unfocused-field-background: url("data:image/svg+xml;charset=UTF-8,<svg width='1px' height='1px' xmlns='http://www.w3.org/2000/svg'><rect width='100%' height='100%' style='fill:rgba(0, 54, 255, 0.13);'/></svg>");
  --xfa-unfocused-field-background: url("data:image/svg+xml;charset=UTF-8,<svg width='1px' height='1px' xmlns='http://www.w3.org/2000/svg'><rect width='100%' height='100%' style='fill:rgba(0, 54, 255, 0.13);'/></svg>");
  --focus-outline: solid 2px blue;
  --hover-outline: dashed 2px blue;
  --freetext-line-height: 1.35;
  --freetext-padding: 2px;
  --editorInk-editing-cursor: pointer;
  --viewer-container-height: 0;
  --pdfViewer-padding-bottom: 0;
  --page-margin: 1px auto -8px;
  --page-border: 9px solid transparent;
  --page-border-image: url(images/shadow.png) 9 9 repeat;
  --spreadHorizontalWrapped-margin-LR: -3.5px;
  --scale-factor: 1.2094666666666667;
  font-feature-settings: "tnum","tnum";
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
  font-variant: tabular-nums;
  color: #999;
  font-size: 14px;
  line-height: 48px;
  white-space: nowrap;
  box-sizing: border-box;
  display: inline-block;
  font-weight: 400;
  margin-right: 14px;
  position: relative;
}

.lingyu{
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  --antd-wave-shadow-color: #4d85ff;
  --scroll-bar: 0;
  --swiper-theme-color: #007aff;
  --swiper-navigation-size: 44px;
  --annotation-unfocused-field-background: url("data:image/svg+xml;charset=UTF-8,<svg width='1px' height='1px' xmlns='http://www.w3.org/2000/svg'><rect width='100%' height='100%' style='fill:rgba(0, 54, 255, 0.13);'/></svg>");
  --xfa-unfocused-field-background: url("data:image/svg+xml;charset=UTF-8,<svg width='1px' height='1px' xmlns='http://www.w3.org/2000/svg'><rect width='100%' height='100%' style='fill:rgba(0, 54, 255, 0.13);'/></svg>");
  --focus-outline: solid 2px blue;
  --hover-outline: dashed 2px blue;
  --freetext-line-height: 1.35;
  --freetext-padding: 2px;
  --editorInk-editing-cursor: pointer;
  --viewer-container-height: 0;
  --pdfViewer-padding-bottom: 0;
  --page-margin: 1px auto -8px;
  --page-border: 9px solid transparent;
  --page-border-image: url(images/shadow.png) 9 9 repeat;
  --spreadHorizontalWrapped-margin-LR: -3.5px;
  --scale-factor: 1.2094666666666667;
  font-feature-settings: "tnum","tnum";
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
  font-variant: tabular-nums;
  white-space: nowrap;
  box-sizing: border-box;
  align-items: center;
  background: rgba(201,216,246,.5);
  border-radius: 2px;
  color: #5770cb;
  display: inline-flex;
  font-size: 12px;
  font-weight: 400;
  justify-content: center;
  line-height: 14px;
  padding: 2px 4px;
  margin-left: 6px;
}

.yuanwen{
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  --antd-wave-shadow-color: #4d85ff;
  --scroll-bar: 0;
  --swiper-theme-color: #007aff;
  --swiper-navigation-size: 44px;
  --annotation-unfocused-field-background: url("data:image/svg+xml;charset=UTF-8,<svg width='1px' height='1px' xmlns='http://www.w3.org/2000/svg'><rect width='100%' height='100%' style='fill:rgba(0, 54, 255, 0.13);'/></svg>");
  --xfa-unfocused-field-background: url("data:image/svg+xml;charset=UTF-8,<svg width='1px' height='1px' xmlns='http://www.w3.org/2000/svg'><rect width='100%' height='100%' style='fill:rgba(0, 54, 255, 0.13);'/></svg>");
  --focus-outline: solid 2px blue;
  --hover-outline: dashed 2px blue;
  --freetext-line-height: 1.35;
  --freetext-padding: 2px;
  --editorInk-editing-cursor: pointer;
  --viewer-container-height: 0;
  --pdfViewer-padding-bottom: 0;
  --page-margin: 1px auto -8px;
  --page-border: 9px solid transparent;
  --page-border-image: url(images/shadow.png) 9 9 repeat;
  --spreadHorizontalWrapped-margin-LR: -3.5px;
  --scale-factor: 1.2094666666666667;
  font-feature-settings: "tnum","tnum";
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
  font-variant: tabular-nums;
  color: #999;
  font-size: 14px;
  line-height: 48px;
  white-space: nowrap;
  font-weight: 400;
  box-sizing: border-box;
  display: inline-block;
}

.full:after {
  content: ''; /* 伪元素需要content属性，这里设置为空就可以 */
  display: block; /* 将伪元素转换为块级元素以便可以设置高度和外边距 */
  margin: auto; /* 上下的外边距为8px，左右居中 */
  height: 2px; /* 线条的高度 */
  background-color: black; /* 线条的颜色 */
  width: 100%; /* 线条的宽度，根据需求设置 */
}

.daochu{
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  --antd-wave-shadow-color: #4d85ff;
  --scroll-bar: 0;
  --swiper-theme-color: #007aff;
  --swiper-navigation-size: 44px;
  --annotation-unfocused-field-background: url("data:image/svg+xml;charset=UTF-8,<svg width='1px' height='1px' xmlns='http://www.w3.org/2000/svg'><rect width='100%' height='100%' style='fill:rgba(0, 54, 255, 0.13);'/></svg>");
  --xfa-unfocused-field-background: url("data:image/svg+xml;charset=UTF-8,<svg width='1px' height='1px' xmlns='http://www.w3.org/2000/svg'><rect width='100%' height='100%' style='fill:rgba(0, 54, 255, 0.13);'/></svg>");
  --focus-outline: solid 2px blue;
  --hover-outline: dashed 2px blue;
  --freetext-line-height: 1.35;
  --freetext-padding: 2px;
  --editorInk-editing-cursor: pointer;
  --viewer-container-height: 0;
  --pdfViewer-padding-bottom: 0;
  --page-margin: 1px auto -8px;
  --page-border: 9px solid transparent;
  --page-border-image: url(images/shadow.png) 9 9 repeat;
  --spreadHorizontalWrapped-margin-LR: -3.5px;
  --scale-factor: 1.2094666666666667;
  font-feature-settings: "tnum","tnum";
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
  font-variant: tabular-nums;
  box-sizing: border-box;
  background-color: #4d85ff;
  background-image: url(https://fanyi-cdn.cdn.bcebos.com/static/cat/asset/exportOn.91d66a78.svg);
  background-position: 2px;
  background-repeat: no-repeat;
  background-size: 24px 24px;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  height: 24px;
  line-height: 24px;
  margin-top: 10px;
  padding: 0 8px 0 28px;
  vertical-align: top;
  margin-right: 15px;
}

.daochuicon{
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  --antd-wave-shadow-color: #4d85ff;
  --scroll-bar: 0;
  --swiper-theme-color: #007aff;
  --swiper-navigation-size: 44px;
  --annotation-unfocused-field-background: url("data:image/svg+xml;charset=UTF-8,<svg width='1px' height='1px' xmlns='http://www.w3.org/2000/svg'><rect width='100%' height='100%' style='fill:rgba(0, 54, 255, 0.13);'/></svg>");
  --xfa-unfocused-field-background: url("data:image/svg+xml;charset=UTF-8,<svg width='1px' height='1px' xmlns='http://www.w3.org/2000/svg'><rect width='100%' height='100%' style='fill:rgba(0, 54, 255, 0.13);'/></svg>");
  --focus-outline: solid 2px blue;
  --hover-outline: dashed 2px blue;
  --freetext-line-height: 1.35;
  --freetext-padding: 2px;
  --editorInk-editing-cursor: pointer;
  --viewer-container-height: 0;
  --pdfViewer-padding-bottom: 0;
  --page-margin: 1px auto -8px;
  --page-border: 9px solid transparent;
  --page-border-image: url(images/shadow.png) 9 9 repeat;
  --spreadHorizontalWrapped-margin-LR: -3.5px;
  --scale-factor: 1.2094666666666667;
  font-feature-settings: "tnum","tnum";
  color: rgba(0,0,0,.85);
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 44px;
  box-sizing: border-box;
  background-size: 100%;
  border-radius: 8px;
  cursor: pointer;
  display: inline-block;
  height: 24px;
  margin-top: 10px;
  position: relative;
  vertical-align: top;
  width: 24px;
  box-shadow: 0 6px 10px 0 rgba(169,173,204,.2);
  background-image: url("https://fanyi-cdn.cdn.bcebos.com/static/cat/asset/collapseHeaderOff.2951ffdd.svg");
}

.langdu{
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  --antd-wave-shadow-color: #4d85ff;
  --scroll-bar: 0;
  --swiper-theme-color: #007aff;
  --swiper-navigation-size: 44px;
  --annotation-unfocused-field-background: url("data:image/svg+xml;charset=UTF-8,<svg width='1px' height='1px' xmlns='http://www.w3.org/2000/svg'><rect width='100%' height='100%' style='fill:rgba(0, 54, 255, 0.13);'/></svg>");
  --xfa-unfocused-field-background: url("data:image/svg+xml;charset=UTF-8,<svg width='1px' height='1px' xmlns='http://www.w3.org/2000/svg'><rect width='100%' height='100%' style='fill:rgba(0, 54, 255, 0.13);'/></svg>");
  --focus-outline: solid 2px blue;
  --hover-outline: dashed 2px blue;
  --freetext-line-height: 1.35;
  --freetext-padding: 2px;
  --editorInk-editing-cursor: pointer;
  --viewer-container-height: 0;
  --pdfViewer-padding-bottom: 0;
  --page-margin: 1px auto -8px;
  --page-border: 9px solid transparent;
  --page-border-image: url(images/shadow.png) 9 9 repeat;
  --spreadHorizontalWrapped-margin-LR: -3.5px;
  --scale-factor: 1.2094666666666667;
  font-feature-settings: "tnum","tnum";
  color: rgba(0,0,0,.85);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  font-family: Arial,PingFang SC,Hiragino Sans GB,STHeiti,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif,noto-fanyi!important;
  box-sizing: border-box;
  align-items: center;
  background: rgba(5,18,107,.059);
  border-radius: 20px;
  cursor: pointer;
  display: inline-flex;
  height: 30px;
  justify-content: center;
  width: 30px;
}

.langdu-icon{
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  --antd-wave-shadow-color: #4d85ff;
  --scroll-bar: 0;
  --swiper-theme-color: #007aff;
  --swiper-navigation-size: 44px;
  --annotation-unfocused-field-background: url("data:image/svg+xml;charset=UTF-8,<svg width='1px' height='1px' xmlns='http://www.w3.org/2000/svg'><rect width='100%' height='100%' style='fill:rgba(0, 54, 255, 0.13);'/></svg>");
  --xfa-unfocused-field-background: url("data:image/svg+xml;charset=UTF-8,<svg width='1px' height='1px' xmlns='http://www.w3.org/2000/svg'><rect width='100%' height='100%' style='fill:rgba(0, 54, 255, 0.13);'/></svg>");
  --focus-outline: solid 2px blue;
  --hover-outline: dashed 2px blue;
  --freetext-line-height: 1.35;
  --freetext-padding: 2px;
  --editorInk-editing-cursor: pointer;
  --viewer-container-height: 0;
  --pdfViewer-padding-bottom: 0;
  --page-margin: 1px auto -8px;
  --page-border: 9px solid transparent;
  --page-border-image: url(images/shadow.png) 9 9 repeat;
  --spreadHorizontalWrapped-margin-LR: -3.5px;
  --scale-factor: 1.2094666666666667;
  font-feature-settings: "tnum","tnum";
  color: rgba(0,0,0,.85);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  font-family: Arial,PingFang SC,Hiragino Sans GB,STHeiti,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif,noto-fanyi!important;
  cursor: pointer;
  box-sizing: border-box;
  background: url(https://fanyi-cdn.cdn.bcebos.com/static/cat/asset/icon-sound.fff4e3b8.png) no-repeat;
  background-size: 100%;
  height: 13px;
  width: 14px;
}

.fuzhi{
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  --antd-wave-shadow-color: #4d85ff;
  --scroll-bar: 0;
  --swiper-theme-color: #007aff;
  --swiper-navigation-size: 44px;
  font-feature-settings: "tnum","tnum";
  color: rgba(0,0,0,.85);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  font-family: Arial,PingFang SC,Hiragino Sans GB,STHeiti,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif,noto-fanyi!important;
  box-sizing: border-box;
  align-items: center;
  background: rgba(5,18,107,.059);
  border-radius: 20px;
  cursor: pointer;
  display: inline-flex;
  height: 30px;
  justify-content: center;
  margin-left: 10px;
  width: 30px;
}

::placeholder{
  font-size: 24px;
}